name: "job-radar"
services:
  db:
    image: postgres:15
    ports:
      - "5001:5432"
    env_file:
      - .env
    volumes:
      - /home/usman/postgres-data:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: unless-stopped

  engine:
