version: "3.9"
name: "job-radar"
services:
  db:
    image: postgres:15
    networks:
      - backend
    ports:
      - "5001:5432"
    env_file:
      - .env
    volumes:
      - /home/usman/postgres-data:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: unless-stopped
  rabbit:
    image: rabbitmq:4.1.5-management-alpine
    networks:
      - backend
    ports:
      - "5002:5672"
      - "15672:15672"
  playwright:
    image: mcr.microsoft.com/playwright:v1.52.0-noble
    networks:
      - backend
    ports:
      - "3000:3000"
    extra_hosts:
      - hostmachine:host-gateway
    init: true
    stdin_open: true
    tty: true
    working_dir: /home/pwuser
    user: pwuser
    command: /bin/sh -c "npx -y playwright@1.52.0 run-server --port 3000 --host
      0.0.0.0"
    restart: unless-stopped

  engine:
    build: ./internal/scraper-engine/
    env_file:
      - .env
    networks:
      - backend
    ports:
      - "50051:50051"
    develop:
      watch:
        - action: rebuild
          path: ./internal/scraper-engine
          target: /app

    depends_on:
      - playwright
      - db
      - rabbit

networks:
  backend:
    name: backend
    driver: bridge
