name: "job-radar"
services:
  db:
    image: postgres:15
    ports:
      - "5001:5432"
    env_file:
      - .env
    volumes:
      - /home/usman/postgres-data:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: unless-stopped
  rabbit:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5002:5672"
      - "15672:15672"
